In [3]:
from rdkit import Chem
from rdkit.Chem import Lipinski
import pandas as pd 
import numpy as np

In [4]:
def get_num_bond_cycle(smiles):
    mol = Chem.MolFromSmiles(smiles)
    num_bond = Lipinski.NumRotatableBonds(mol)
    num_cycle = Lipinski.NumAliphaticRings(mol) + Lipinski.NumAromaticRings(mol)
    ratio = num_bond / num_cycle
    return num_bond, num_cycle, ratio

In [20]:
f = pd.read_csv('D:/0研究生/0聚酰亚胺/高分子Tg数据/加入其他高分子数据的影响/Tg/正式实验/预测筛选/1-350-3_2(Tg-SAscore).csv')
f.head()

,Unnamed: 0,Unnamed: 0.1,Smiles,pred_new,SA_Score
0,183,183,*c1cccc2c(N3C(=O)c4ccc(-c5ccc6c(c5)C(=O)N(*)C6...,368.45798,3.199695
1,219,219,*c1ccc(N(C(=O)c2ccccc2C(=O)O)C(=O)c2ccccc2C(=O...,368.10568,3.142498
2,373,373,*N(C(=O)c1ccccc1C(=O)O)C(=O)c1ccccc1C(=O)N(C(=...,386.93396,3.106438
3,376,376,*N(C(=O)c1ccccc1)C(=O)c1ccc(Oc2ccc(C(=O)N(C(=O...,350.99332,2.935203
4,404,404,*N1C(=O)c2ccc(-c3ccc4c(c3)C(=O)N(C(*)(c3ccccc3...,394.22177,3.151881

In [21]:
f['num_bond', 'num_cycle', 'ratio'] = f['Smiles'].apply(get_num_bond_cycle)

In [22]:
f.to_csv('D:/0研究生/0聚酰亚胺/高分子Tg数据/加入其他高分子数据的影响/Tg/正式实验/预测筛选/Rot2Ring/Rot2Ring-350-3_2.csv')

In [31]:
df2 = pd.DataFrame(f['num_bond', 'num_cycle', 'ratio'].tolist())
df2.columns = ['num_bond', 'num_cycle', 'ratio']
df2

       num_bond  num_cycle     ratio
0            10         22  0.454545
1             4          7  0.571429
2             4          6  0.666667
3             4          7  0.571429
4             3          6  0.500000
...         ...        ...       ...
40708        10         24  0.416667
40709        16         31  0.516129
40710        16         31  0.516129
40711        16         31  0.516129
40712        16         31  0.516129

[40713 rows x 3 columns]